<h1>All Questions</h1>
<%= form_tag complete_tasks_path, :method => :put do %>
  <ul>
  <% @in_completed_tasks.each do |task| %>
    <li>
      <%= check_box_tag "task_ids[]", task.id %>
      <!--<input type="checkbox" name="task_ids[]" id="task_ids_" value="5">-->
      <%= task.name %>
    </li>
  <% end %>
  </ul>
  <%#= @ids.inspect if @ids.present?  %>
  <%= submit_tag "Submit your Answers" if @in_completed_tasks.present? %>
<% end %>
 
<ul>
<% @completed_tasks.each do |c| %>
    <li><%= c.name %></li>
<% end %>
</ul>
<%= link_to "New Question", new_task_path %> 
<hr/>

<h1>All the answers</h1>
<ul>
<% @answers.each do |answer| %>
 <li><%= answer.feedback %> yes</li>
 <%end%>
</ul>

<hr />

<%= pie_chart Answer.group(:feedback).count , suffix: "%", refresh: 60 %> 

 
 